.theme_dark {
	--black: #000000;
	--white: #ffffff;
	--dark: #242424;

	// App
	--app-foreground: var(--white);

	// Pages

	// Timeline
	--timeline-section: color-mix(in srgb, var(--dark) 60%, transparent);
}
