.root {
	width: 100%;
	height: 100%;
	position: relative;
	& > svg {
		width: 100%;
		height: 100%;
	}
}

.tooltip_root {
	position: absolute;
	top: 0px;
	left: 0px;
	padding: 0.75rem;
	background-color: var(--tooltip-background);
	border: 1px solid currentColor;
	border-radius: 0.5rem;
}

.tooltip_icon {
}

.tooltip_description {
}

.tooltip_title {
}

.tooltip_details {
}
