.section_header {
	font-size: x-large;
	border-width: 0px;
	border-style: solid;
	border-bottom-width: 1px;
	border-image: linear-gradient(90deg, var(--branding-cyan) 0%, var(--branding-purple) 100%) 1;
}

.timeline_details {
}
